builtwith
colorama
requests
shodan
mmh3
PyExecJS
python3-nmap
beautifulsoup4
fake-useragent
googlesearch-python
alive-progress
python-whois
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability